body {
    background-color: white;
    font-family: 'Orbitron', sans-serif;
    color: #445361;
    text-align: center;
}

/* header */

.heading {
    font-size: 50px;
    font-family: 'Tektur', cursive;
    text-align: center;
    color: #F93318;
}

.logo {
    height: 45px;
}

#para {
    padding: 0 150px;
}

/* game area */

.game-area {
    background-color: #e5e4e2;
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    max-height: 400px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

.controls-area {
    height: 150px;
    display: flex;
    justify-content: center;
}

.select-diff {
    height: 50;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.score-area {
    margin: 10px auto;
    width: 80%;
    font-size: 30px;
}


#score {
    color: green;
    font-weight: bold;
}

#wrong {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}

#answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}

/* buttons */

.btn {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: black;
}

.btn:focus {
    outline: none;
}

.big-btn {
    height: 100px;
    width: 450px;
    background-color: white;
    font-size: 50px;
    margin: 25px;
}

.medium-btn {
    height: 80px;
    width: 350px;
    background-color: white;
    font-size: 50px;
    margin: 5px;
    transition-duration: 0.4s;
}

.red {
    border-color: red;
    color: red;
}

.red:active,
.red:hover {
    background-color: red;
    color: white;
    transition-duration: 0.4s;
}

.blue {
    border-color: blue;
    color: blue;
    transition-duration: 0.4s;
}

.blue:active,
.blue:hover {
    background-color: blue;
    color: white;
}

.medium-btn:active,
.medium-btn:hover {
    background-color: black;
    color: white;
}

.play {
    height: 40px;
    width: 200px;
    margin: 20px;
}

/* hidden */

.hidden {
    display: none;
}

/*selected classes*/

.selected-attack {
    background-color: red;
    color: white;
}

.selected-defense {
    background-color: blue;
    color: white;
}

.selected-difficulty {
    background-color: black;
    color: white;
}

/*attack/defense game styling*/

.target-image {
    width: 100px;
    height: 100px;
}

.button-div {
    max-width: 1000px;
    margin: 0 auto;
}

.random-type-image {
    margin-top: 50px;
}